@import "media.css";
@import "stylesheet.css";

.bg-cont{
    width: 100%;
    height: 100%;
    background-image: url(/media/battlefield_media/1451973816182169424.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sec-game, .sec-klan{
    position: relative;
    float: left;
    width: 15%;
    height: 65%;
    top: 15%;
    left: 23%;
    background: url(../img/marcador.png) center center;
    background-size: cover;
    margin: 0 17% 5% 0;
}

.sec-game a, .sec-klan a{
    display: block;
    height: 100%;
    z-index: 2;
    text-decoration: none;
}

.sec-game a h1, .sec-klan a h1{
    color: #25A619;
    font-family: 'fleischmann_gotischcregular';
    font-size: 1.7em;
    text-align: center;
    margin-top: 5%;
}

.sec-game a p, .sec-klan a p{
    font-family: 'mr_ardaghgbold';
    color: #ff4e00;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5%;
}

.roundGame{
    margin-top: 10%;
    margin-left: 15%;
    display: inline-block;
    width: 70%;
    height: 33%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.roundKlan{
    margin-top: 10%;
    margin-left: 15%;
    display: inline-block;
    width: 70%;
    height: 33%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.group {
    display: block;
    padding-top: 15%;
}

.group .item{
    width: 50%;
    margin-left: 25%;
    height: 50%;
}

.group a{
    text-decoration: none;
}

.group .item h1{
    color: #ff4e00;
    font-family: 'mr_ardaghgbold';
    font-size: 2.2em;
    text-align: center;
}

.group .item img{
    width: 30%;
    height: 40%;
}

.group .item p{
    color: #25A619;
    font-family: 'mr_ardaghgbold';
    font-size: 2em;
    text-align: center;
}

.block_list_article{
    position: absolute;
    height: 70%; /* высота нашего блока */
    width: 60%; /* ширина нашего блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    margin-top: 12%;
    margin-left: 20%;
}

.block_list_article #item_article{
    width: 17%;
    height: 25%;
    float: left;
    background-size: cover;
    background-position: center center;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 3%;
}

.block_list_article #item_article div{
    position: absolute;
    width: 17%;
    height: 5%;
    background: rgba(0000, 0, 0, 0.7);
    margin-top: 11%;
    text-align: center;
}

.block_list_article #item_article div p{
    font-family: 'mr_ardaghgbold';
    font-size: 1.2em;
    color: #ff4e00;
    margin-top: -3%;
}


.spoiler-wrap{
    background:#fff;margin: 0 0 8px;border:1px solid #efefef
}
.spoiler-head{
    background:#efefef;cursor:pointer;padding:5px;
}
.spoiler-body{
    padding:10px
}
.spoiler-wrap.disabled .spoiler-body{
    display:none
}
.spoiler-wrap.active{
    border-color:#57AA43
}
.spoiler-wrap.active .spoiler-head{
    background:#57AA43;color:#fff
}