html {
    background-color: rgba(195, 201, 208, 0.66);
}

.head{
    width: 100%;
    margin-top: -1.6%;
    margin-left: -2%;
}

#head_main{
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white;
    margin-top: -1%;
}

#head_main a img{
    padding-left: 30%;
    padding-top: 35%;
}

.head #irg{
    width: 40%;
    height: 40%;
    float: right;
    padding-top: 5%;
}

.head h2{
    padding-top: 2%;
    padding-left: 2%;
}

.head h2{
    padding-top: 2%;
    padding-left: 2%;
}

.head ul{

    padding-left: 2%;
}


hr{
   margin-top: 18%;
}

.body h3, .body #text_body{
    text-align: center;
}

.body .sub_body p{
    margin-top: 6%;
}

.body .sub_body h4{
    text-align: center;
    margin-top: 7%;
}

.body .sub_body img{
    width: 20%;
    height: 20%;
    float: right;
    margin-top: 1%;
}

.gallery h3,h4{
    text-align: center;
}


.gallery .video-gallery{
    padding-top: 5%;
    margin-bottom: -9%;
    padding-left: 4%;
}

.gallery .image-gallery{
    background-size: cover;
    margin-bottom: -9%;
    padding-left: 4%;
}

.gallery .image-gallery img{
    width: 90%;
}